<div class="relative">
  <button type="button" class="bg-white p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary" data-dropdown-toggle="userDropdown">
    <span class="sr-only">Open user menu</span>
    <i data-lucide="user" class="h-6 w-6"></i>
  </button>
  
  <div id="userDropdown" class="dropdown-menu hidden z-10 transform">
    <div class="py-1" role="none">
      <% if current_user %>
        <div class="block px-4 py-2 text-xs text-gray-400 border-b border-gray-100">
          Signed in as <span class="font-medium text-gray-700"><%= current_user.username %></span>
        </div>
        
        <a href="<%= profile_path if defined?(profile_path) %>" class="dropdown-item" role="menuitem">
          Your Profile
        </a>
        
        <a href="<%= settings_path if defined?(settings_path) %>" class="dropdown-item" role="menuitem">
          Settings
        </a>
        
        <% if current_user.admin? || current_user.manager? %>
          <a href="<%= schools_path if defined?(schools_path) %>" class="dropdown-item" role="menuitem">
            Manage Schools
          </a>
          
          <a href="<%= teachers_path if defined?(teachers_path) %>" class="dropdown-item" role="menuitem">
            Manage Teachers
          </a>
        <% end %>
        
        <div class="border-t border-gray-100"></div>
        
        <%= link_to "Sign out", logout_path, method: :delete, class: "dropdown-item", role: "menuitem" if defined?(logout_path) %>
      <% else %>
        <a href="<%= login_path if defined?(login_path) %>" class="dropdown-item" role="menuitem">
          Sign in
        </a>
      <% end %>
    </div>
  </div>
</div>